#mainheader {
    text-align: center;
    color: #823c16;
    font-size: 35px;
    box-sizing: border-box,

  }

#navi {
  text-align: center;
  background-color: #823c16;
  color: whitesmoke
  }

#playmessage {
  text-align: center;
  font-size: 15px;
  color: white;
  }

  .headertop {
    padding-top: 1;
    box-sizing: border-box,
  }

  #scoreformat {
    font-size: 25px;

  }

  #scoringformat {
    text-align: center;
    font-size: 25px;
    color: #823c16;
    }
  